.button-two {
    display: flex;
    align-items: center;
    background-color: #66b830;
    justify-content: center;
    color: #ffff;
    border-radius: 20px;
    border: none;
    padding: 7px;
    cursor: pointer;
  }
  .button-two:hover{
    background-color: grey;
  }
  .button-one:active {
    background-color: grey;
  }
  
  .text {
    text-align: center;
  }
  